#instruct {
    margin-bottom: 10px;
    font-weight: bold;
}
#Collage_web_app {
    font-weight: bold;
    margin-top: 20px;
}
#app_works {
    margin-top: 10px;
    margin-bottom: 10px;
}
#start {
    margin-top: 10px;
    margin-bottom: 10px;
}
#cam {
    margin-top: 10px;
    margin-bottom: 10px;
}